<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Task One</a>
    <span class="log-date">12/27/18</span>
    <i class="fa fa-remove"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Task Two</a>
    <span class="log-date">12/27/18</span>
    <i class="fa fa-remove"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Task Three</a>
    <span class="log-date">12/27/18</span>
    <i class="fa fa-remove"></i>
  </li>
</ul>